[submodule "lib/rapidjson"]
	path = lib/rapidjson
	url = https://github.com/miloyip/rapidjson.git
[submodule "lib/easyloggingpp"]
	path = lib/easyloggingpp
	url = https://github.com/easylogging/easyloggingpp.git
